*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.lock linguist-detectable=false
src/** linguist-detectable=false

*.ts linguist-vendored
*.tsx linguist-vendored
src/** linguist-vendored

*.py linguist-detectable=true
